@import '../../../styles/colors.scss';
@import '../../../styles/positioning.scss';

body{
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

#main_layout_background{
    width: 100vw;
    height: 100vh;
    background-color: $wedgewood;
    @include flex_center;
}