@mixin flex {
  display: flex;
}

@mixin flex_center {
  @include flex();

  align-items: center;
  justify-content: center;
}

@mixin flex_n {
  @include flex();

  align-items: flex-start;
  justify-content: center;
}

@mixin flex_ne {
  @include flex();

  align-items: flex-start;
  justify-content: flex-end;
}

@mixin flex_e {
  @include flex();

  align-items: center;
  justify-content: flex-end;
}

@mixin flex_se {
  @include flex();

  align-items: flex-end;
  justify-content: flex-end;
}

@mixin flex_s {
  @include flex();

  align-items: flex-end;
  justify-content: center;
}

@mixin flex_sw {
  @include flex();

  align-items: flex-end;
  justify-content: flex-start;
}

@mixin flex_w {
  @include flex();

  align-items: center;
  justify-content: flex-start;
}

@mixin flex_nw {
  @include flex();

  align-items: flex-start;
  justify-content: flex-start;
}
