<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Мессенджер: Настройки пользователя</title>
    <link rel="stylesheet" href="../../../views/layouts/base/styles.scss">
    <link rel="stylesheet" href="../../../views/layouts/form/styles.scss">
    <link rel="stylesheet" href="../../../views/pages/settings/styles.scss">

</head>
<body>
    <div id="main_layout_background">
        <link rel="stylesheet" href="../../../views/layouts/form/styles.scss">
        <div id="service_center_block">
            <div id="form__inner">
            </div>
        </div>
    </div>
    <script type="module" src="../../pages/settings/index.ts"></script>
</body>
</html>